/* MenuItem.css */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fafafa;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .cart-item:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%; /* Dành phần lớn cho tên món ăn */
  }
  
  .item-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
  }
  
  .item-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
  
  .item-options span {
    font-size: 14px;
    color: #888;
  }
  
  .remove-item {
    padding: 5px 10px;
    background-color: #ff7f00;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .remove-item:hover {
    background-color: #e66f00;
  }
  
  .item-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  